<p>
  appointment-patient works! CURRENTLY NOT WORKING0
</p>
<br>
<div class="form-group">
  <label for="">Doctor Name</label>
  <input type="text" name="" id="" class="form-control" [value]="doctor.docName" placeholder="" aria-describedby="helpId" disabled>
  <small id="helpId" class="text-muted">Help text</small>
</div>

<label for="">Problem</label>
<input type="text" [(ngModel)]="patientProblem" class="form-control" placeholder="" aria-describedby="helpId">
<small id="helpId" class="text-muted">Help text</small>

<br>
<label for="">Enter Date</label>
<input type="date" [(ngModel)]="patientAppDate" name="selDate" id="selDate" class="form-control">

<button type="submit" (click)="regAppointment()">Submit</button>

