<h3 style="text-align: center">Book an appointment</h3>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" [(ngModel)]="selectedRadio" class="form-check-input" name="radioNew" value="new" selected>
        newPatientButton
      </label><br>
      <label class="form-check-label">
        <input type="radio" [(ngModel)]="selectedRadio" (click)="onClickOld()" class="form-check-input" name="radioOld"
          value="old">
        oldPatientButton
      </label>
    </div>
  </div>
</div>







  <div *ngIf="selectedRadio=='new'" class="form-group ">
    <label for="">Name</label>
    <input type="text" [(ngModel)]="patientName" class="form-control" placeholder="..." aria-describedby="helpId">
    <small id="helpId" class="text-muted">Please Enter Your First Name</small>
    <br />
    <label>Gender</label>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" [(ngModel)]="patientGender" class="form-check-input" name="Male" value="Male">
        Male
      </label> &nbsp;
      <label class="form-check-label">
        <input type="radio" [(ngModel)]="patientGender" class="form-check-input" name="Female" value="Female">
        Female
      </label>
    </div>
    <br>
    Department:
    <select [(ngModel)]="selectedDeptId" (change)="changeDept(selectedDeptId)">
      <option *ngFor="let deptSel of listDept" [value]="deptSel.deptId" [selected]="listDept[0].deptName">
        {{deptSel.deptName}}</option>
    </select>
    <br />
    Doctor
    <select [(ngModel)]="selectedDocId">
      <option *ngFor="let docSel of listDoc" [value]="docSel.id" selected="Choose Doctor">{{docSel.docName}}</option>
    </select>
  
    <br>
    Choose Blood Group
    <select [(ngModel)]="patientBloodGroup">
      <option *ngFor="let item of bg" [value]="item">{{item}}</option>
    </select>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <br>
    <label for="">Email</label>
    <input type="text" [(ngModel)]="patientContactInfo" class="form-control" placeholder="" aria-describedby="helpId">
    <small id="helpId" class="text-muted">Help text</small>

    <br>
    <label for="">Problem</label>
    <input type="text" [(ngModel)]="patientProblem" class="form-control" placeholder="" aria-describedby="helpId">
    <small id="helpId" class="text-muted">Help text</small>

    <br>
    <label for="">Enter Date</label>
    <input type="date" [(ngModel)]="patientAppDate" name="selDate" id="selDate" class="form-control">

    <button type="submit" (click)="newPatientRegister()">Submit</button>
  </div>

