<p>
  dashboard-admin works!
</p>

<button [routerLink]="['/see-department-list-admin']" >See Department List</button>
<button [routerLink]="['/add-dept-admin']" >Add Department</button>
<button [routerLink]="['/register-doctor-admin']" >Register Doctor</button>
<button [routerLink]="['/doctor-list-admin']" >Get All Doctor</button>
<button [routerLink]="['/add-medicine-admin']" >Add new medicine</button>
<button [routerLink]="['/medicine-list-admin']" >Medicine List</button>
<button [routerLink]="['/invoice-list-admin']" >Invoice List</button>
<button [routerLink]="['/appointment-list-admin']">Appointment List</button>
<br>
<br>
<button (click)="onClickLogout()">Logout</button>